pyyaml
requests
#baidu-aip
pydub
python-dateutil
watchdog
pytz
fire
tornado
markdown
semver
websocket
websocket-client
pypinyin
jieba
pvporcupine
pvrecorder
#openai
apscheduler
asyncio
#edge-tts
nest_asyncio
funasr_onnx
